.idea/
*.iml

**/bin/
**/obj/
**/.vscode/
/vendor/
.pulumi
**/node_modules/
Pulumi.*.yaml

yarn.lock
package-lock.json

provider/cmd/**/metadata.go
provider/cmd/**/schema.go
provider/cmd/**/schema-full.json
provider/cmd/**/metadata-compact.json
provider/cmd/**/*.gz
**/version.txt
**/nuget
**/dist
**/*.tar.gz

ci-scripts/
