.idea/
*.iml

**/bin/
**/obj/
**/.vscode/
/vendor/
.pulumi
**/node_modules/
Pulumi.*.yaml

yarn.lock
package-lock.json

provider/coverage.txt
provider/cmd/**/metadata.go
provider/cmd/**/schema.go
provider/cmd/**/schema-full.json
provider/cmd/**/metadata-compact.json
provider/cmd/**/*.gz
**/version.txt
**/nuget
**/dist
**/*.tar.gz

ci-scripts/
.version

sdk/java/build
sdk/java/src
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat
pulumi-azure-native-sdk
.DS_Store
*.sentinel
.make/

sdk/python/venv

DEBUG_CODEGEN_EXAMPLE_HCL
