.idea/
*.iml

**/bin/
**/obj/
**/.vscode/
/vendor/
.pulumi
**/node_modules/
Pulumi.*.yaml

yarn.lock
package-lock.json

**/metadata.go
**/schema.go
**/version.txt
**/nuget
**/dist
**/*.tar.gz

ci-scripts/
provider/cmd/pulumi-resource-azure-native/schema-full.json
