permissions: write-all # Equivalent to default permissions plus id-token: write
# This workflow runs the standard (full) CI test suite once a day or on demand,
# using the legacy autorest backend.
name: autorest-scheduled

on:
  schedule:
    - cron: 15 3 * * 1-6 # 3:15 am UTC, Mon-Sat
  workflow_dispatch: {}

jobs:
  version:
    uses: ./.github/workflows/version.yml
    secrets: inherit

  build_test:
    uses: ./.github/workflows/build-test.yml
    secrets: inherit
    needs: version
    with:
      ref: ${{ github.ref }}
      version: ${{ needs.version.outputs.version }}
      short_test: false
      retention_days: 7
      use_azcore: false
      upload_codecov: false
