name: master

on:
  push:
    branches:
      - v2
    paths-ignore:
      - CHANGELOG.md
    tags-ignore:
      - v*
      - sdk/*
      - "**"
  workflow_dispatch:
    inputs:
      short_test:
        type: boolean
        description: Skip longer running tests
        default: true

jobs:
  version:
    permissions:
      id-token: write # For ESC secrets.
    uses: ./.github/workflows/version.yml
    secrets: inherit

  build_test:
    permissions:
      id-token: write # For ESC secrets.
    uses: ./.github/workflows/build-test.yml
    secrets: inherit
    needs: version
    with:
      ref: ${{ github.ref }}
      version: ${{ needs.version.outputs.version }}
      # v2 maintenance branch: default to short_test for faster CI
      short_test: ${{ inputs.short_test == '' && true || inputs.short_test }}
      # We cannot run OIDC tests in the release workflow because it's not a PR and we don't have a
      # fixed tag or branch to serve as entity type, and we don't have Github environments
      # configured. See
      # https://learn.microsoft.com/en-us/azure/active-directory/workload-identities/workload-identity-federation-create-trust?pivots=identity-wif-apps-methods-azp#github-actions
      oidc_arm_client_id: ""
      retention_days: 30
