name: nightly-sdk-generation
"on":
  schedule:
    - cron: 35 4 * * *
  workflow_dispatch: {}

env:
  GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
  PROVIDER: azure-native

jobs:
  generate-sdk:
    name: prerequisites
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goversion: [1.17.x]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          lfs: true
      - name: Unshallow clone for tags
        run: git fetch --prune --unshallow --tags
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.goversion }}
      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@v1.1.0
        with:
          repo: pulumi/pulumictl
      - name: Install Pulumi CLI
        uses: pulumi/setup-pulumi@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_RBAC_SERVICE_PRINCIPAL }}
      - name: Cleanup SDK folder
        run: make clean
      - name: Preparing Git Branch
        run: |
          git config --local user.email "bot@pulumi.com"
          git config --local user.name "pulumi-bot"
          git checkout -b generate-sdk/${{ github.run_id }}-${{ github.run_number }}
      - name: Update submodules
        run: make update_submodules
      - name: Build codegen binaries
        run: make codegen
      - name: Build Schema + SDKs
        run: make local_generate
      - name: Git submodule commit hash
        id: vars
        run: echo ::set-output name=commit-hash::$(git rev-parse HEAD)
        working-directory: azure-rest-api-specs
      - name: commit changes
        run: |
          git add sdk/nodejs
          git commit -m "Regenerating Node.js SDK based on azure-rest-api-specs @ ${{ steps.vars.outputs.commit-hash }}" || echo "ignore commit failure, may be empty"
          git add sdk/python
          git commit -m "Regenerating Python SDK based on azure-rest-api-specs @ ${{ steps.vars.outputs.commit-hash }}" || echo "ignore commit failure, may be empty"
          git add sdk/dotnet
          git commit -m "Regenerating .NET SDK based on azure-rest-api-specs @ ${{ steps.vars.outputs.commit-hash }}" || echo "ignore commit failure, may be empty"
          git add sdk/go*
          git commit -m "Regenerating Go SDK based on azure-rest-api-specs @ ${{ steps.vars.outputs.commit-hash }}" || echo "ignore commit failure, may be empty"
          git add .
          git commit -m "Regenerating based on azure-rest-api-specs @ ${{ steps.vars.outputs.commit-hash }}"
          git push origin generate-sdk/${{ github.run_id }}-${{ github.run_number }}
      - name: pull-request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: "generate-sdk/${{ github.run_id }}-${{ github.run_number }}"
          destination_branch: "master"
          pr_title: "Automated SDK generation @ azure-rest-api-specs ${{ steps.vars.outputs.commit-hash }}"
          pr_label: "automation/merge"
          pr_allow_empty: true
          github_token: ${{ secrets.PULUMI_BOT_TOKEN }}
