name: pull-request
"on":
  pull_request:
    branches:
      - master
env:
  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
  ARM_ENVIRONMENT: public
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GO111MODULE: "on"
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  NUGET_PUBLISH_KEY: ${{ secrets.NUGET_PUBLISH_KEY }}
  PROVIDER: azure-nextgen
  PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
  PULUMI_API: https://api.pulumi-staging.io
  PULUMI_LOCAL_NUGET: ${{ github.workspace }}/nuget
  PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  TRAVIS_OS_NAME: linux
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    container: golangci/golangci-lint:latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Checkout Scripts Repo
        uses: actions/checkout@v2
        with:
          path: ci-scripts
          repository: pulumi/scripts
      - name: Unshallow clone for tags
        run: git fetch --prune --unshallow --tags
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.goversion }}
      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@release/v1-alpha
        with:
          repo: pulumi/pulumictl
      - name: Install Pulumi CLI
        uses: pulumi/action-install-pulumi-cli@releases/v1
      - name: Initialize submodules
        run: make init_submodules
      - name: Build codegen binaries
        run: make codegen
      - name: Build Schema & SDKs
        run: make generate
      - name: Build provider binary
        run: make provider
      - name: Lint provider
        run: make lint_provider
  prerequisites:
    name: prerequisites
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Checkout Scripts Repo
        uses: actions/checkout@v2
        with:
          path: ci-scripts
          repository: pulumi/scripts
      - name: Unshallow clone for tags
        run: git fetch --prune --unshallow --tags
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.goversion }}
      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@release/v1-alpha
        with:
          repo: pulumi/pulumictl
      - name: Install Pulumi CLI
        uses: pulumi/action-install-pulumi-cli@releases/v1
      - name: Initialize submodules
        run: make init_submodules
      - name: Build codegen binaries
        run: make codegen
      - name: Build Schema & SDKs
        run: make generate
      - name: Build provider binary
        run: make provider
      - name: Check worktree clean
        run: ./ci-scripts/ci/check-worktree-is-clean
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: pulumi-${{ env.PROVIDER }}
          path: ${{ github.workspace }}/bin
      - name: Compress NodeJS SDK folder
        run: tar -zcf sdk/nodejs-temp.tar.gz -C sdk/nodejs .
      - name: Upload NodeJS artifacts
        uses: actions/upload-artifact@v2
        with:
          name: nodejs-temp.tar.gz
          path: ${{ github.workspace}}/sdk/nodejs-temp.tar.gz
      - name: Compress DotNet SDK folder
        run: tar -zcf sdk/dotnet-temp.tar.gz -C sdk/dotnet .
      - name: Upload DotNet artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dotnet-temp.tar.gz
          path: ${{ github.workspace}}/sdk/dotnet-temp.tar.gz
      - name: Compress Python SDK folder
        run: tar -zcf sdk/python-temp.tar.gz -C sdk/python .
      - name: Upload Python artifacts
        uses: actions/upload-artifact@v2
        with:
          name: python-temp.tar.gz
          path: ${{ github.workspace}}/sdk/python-temp.tar.gz
      - name: Compress Go SDK folder
        run: tar -zcf sdk/go-temp.tar.gz -C sdk/go .
      - name: Upload Go artifacts
        uses: actions/upload-artifact@v2
        with:
          name: go-temp.tar.gz
          path: ${{ github.workspace}}/sdk/go-temp.tar.gz
      - name: Test Provider Library
        run: make test_provider
  build_and_test_sdks:
    name: build_and_test_sdks
    runs-on: ubuntu-latest
    needs: prerequisites
    strategy:
      fail-fast: true
      matrix:
        dotnetversion: [3.1.301]
        goversion: [1.14.x]
        language: [nodejs, python, dotnet, go]
        nodeversion: [13.x]
        pythonversion: [3.7]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Checkout Scripts Repo
        uses: actions/checkout@v2
        with:
          path: ci-scripts
          repository: pulumi/scripts
      - name: Unshallow clone for tags
        run: git fetch --prune --unshallow --tags
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.goversion }}
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.nodeversion}}
          registry-url: https://registry.npmjs.org
      - name: Setup DotNet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{matrix.dotnetverson}}
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{matrix.pythonversion}}
      - name: Install pulumictl
        uses: jaxxstorm/action-install-gh-release@release/v1-alpha
        with:
          repo: pulumi/pulumictl
      - name: Install Pulumi CLI
        uses: pulumi/action-install-pulumi-cli@releases/v1
      - name: Download provider + tfgen binaries
        uses: actions/download-artifact@v2
        with:
          name: pulumi-${{ env.PROVIDER }}
          path: ${{ github.workspace }}/bin
      - name: Restore binary perms
        run: find ${{ github.workspace }} -name "pulumi-*-${{ env.PROVIDER }}" -print
          -exec chmod +x {} \;
      - name: Download SDK
        uses: actions/download-artifact@v2
        with:
          name: ${{ matrix.language  }}-temp.tar.gz
          path: ${{ github.workspace}}/sdk
      - name: Uncompress SDK folder
        run: tar -zxf ${{ github.workspace}}/sdk/${{ matrix.language}}-temp.tar.gz -C ${{ github.workspace}}/sdk/${{ matrix.language}}
      - name: Build SDK
        run: make build_${{ matrix.language }}
      - name: Update path
        run: echo ::add-path::${{ github.workspace }}/bin
      - name: Install Node deps
        run: yarn global add typescript
      - name: Install Python deps
        run: |-
          pip3 install virtualenv==20.0.23
          pip3 install pipenv
      - name: Install dependencies
        run: make install_${{ matrix.language}}_sdk
      - name: Run tests
        run: cd examples && go test -v -test.short -count=1 -cover -timeout 2h -tags=${{ matrix.language
          }} -parallel 4 .
      - name: Compress SDK folder
        run: tar -zcf sdk/${{ matrix.language }}.tar.gz -C sdk/${{ matrix.language }} .
      - name: Upload Tested Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.language  }}-sdk.tar.gz
          path: ${{ github.workspace}}/sdk/${{ matrix.language }}.tar.gz
