name: release

on:
  push:
    tags:
      - v2.*.*

jobs:
  version:
    uses: ./.github/workflows/version.yml
    secrets: inherit

  build_test:
    uses: ./.github/workflows/build-test.yml
    needs: version
    secrets: inherit
    with:
      ref: ${{ github.ref }}
      version: ${{ needs.version.outputs.version }}
      # We cannot run OIDC tests in the release workflow because it's not a PR and we don't have a
      # fixed tag or branch to serve as entity type, and we don't have Github environments
      # configured. See
      # https://learn.microsoft.com/en-us/azure/active-directory/workload-identities/workload-identity-federation-create-trust?pivots=identity-wif-apps-methods-azp#github-actions
      oidc_arm_client_id: ""
      upload_codecov: false

  publish:
    uses: ./.github/workflows/publish.yml
    secrets: inherit
    needs:
      - build_test
      - version
    with:
      ref: ${{ github.ref }}
      version: ${{ needs.version.outputs.version }}
      prerelease: ${{ contains(github.ref_name,'-') }}

